<div class="container">
  <h1 class="center">Events</h1>
  <div class="row">
    <% events.forEach(function(event){ %>
      <div class="col s12 m6">
        <div class="card">
          <div class="card-image">
              <img src="https://static.designmynight.com/uploads/2016/08/Aviary-2-optimised.jpg" alt="<%= event.eventName %>" class="responsive-img">
              <span class="card-title"><%=event.eventName %></span>
            </div>
            <div class="card-content">
              <p><%=event.eventDate %></p>
            </div>
            <div class="card-action">
              <a href="/events/<%=event.id %>">View</a>
            </div>
          </div>
        </div>
    <% }); %>
  </div>
</div>    
