<div class="container">
<h1 class="center">Add New Event</h1>
  <div class="row">
    <div class="col-sm-12 center">
      <form method="post" action="/events">
        {{!-- <select name="event[venue]">
          {{#each venues}}
            <option>{{venueName}}</option>
          {{/each}}
        </select> --}}
        <input type="text" name="event[eventName]" placeholder="Event Name">
        <input type="date" name="event[eventDate]" class="datepicker">
        <input type="text" name="event[startTime]" placeholder="Start Time">
        <input type="text" name="event[endTime]" placeholder="End Time">       
        <input type="submit"class="btn" value="create">
    </div>
  </div>
</div>

