<div class="container">
  <h1 class="center">Add New Event</h1>
  <div class="row">
    <div class="col s12 center">
      <form method="post" action="/events">
      <label>Selector</label>
        <input type="text" name="event[eventName]" placeholder="Event Name">
        <input type="date" name="event[eventDate]" class="datepicker">
        <input type="number" name="event[startTime]" placeholder="Start Time">
        <input type="number" name="event[endTime]" placeholder="End Time">        
        <input type="submit"class="btn" value="create">
      </form>
    </div>
  </div>
</div>


