<div class="container">
  <h1 class="center">Venues</h1>
  <div class="row">
    <% venues.forEach(function(venue){ %>
      <div class="col s12 m6">
        <div class="card">
          <div class="card-image">
              <img src="https://static.designmynight.com/uploads/2016/08/Aviary-2-optimised.jpg" alt="<%= venue.venueName %>" class="responsive-img">
              <span class="card-title"><%=venue.venueName %></span>
            </div>
            <div class="card-content">
              <p><%=venue.location.area %></p>
            </div>
            <div class="card-action">
              <a href="/venues/<%=venue.id %>">View</a>
            </div>
          </div>
        </div>
    <% }); %>
  </div>
</div>

  
    
