<div class="jumbotron">
  <div class="container text-center">
    <h1>All Venues</h1>
    <p>A list of all venues on spont</p>
  </div>
</div>

{{#each venues}}
<div class="row">

  <div class="col-md-7">
    <a href="#">
      <img class="img-responsive" src="https://static.designmynight.com/uploads/2016/08/Aviary-2-optimised.jpg" alt="{{venueName}}">
    </a>
  </div>
  <div class="col-md-5">
    <h3>{{venueName}}</h3>
    <h4>{{location.area}}</h4>
    <p></p>
    <a class="btn btn-primary" href="/venues/{{id}}">View Event <span class="glyphicon glyphicon-chevron-right"></span></a>
  </div>

</div>

<hr>
{{/each}}