<div class="container">
  <h1 class="center">Add New Venue</h1>
  <div class="row">
    <div class="col-sm-12 center">
      <form method="post" action="/venues">
        <input type="text" name="venue[venueName]" placeholder="Venue Name...">
        <input type="text" name="venue[description]" placeholder="Description...">
        <input type="text" name="venue[location.region]" placeholder="Region...">
        <input type="text" name="venue[location.fullAddress.address1]" placeholder="Address 1...">        
        <input type="text" name="venue[location.fullAddress.address2]" placeholder="Address 2...">        
        <input type="text" name="venue[location.fullAddress.address3]" placeholder="Address 3...">        
        <input type="text" name="venue[location.area]" placeholder="Area...">   
        <input type="submit"class="btn" value="create">
      </form>
    </div>
  </div>
</div>